<div class="row filial" th:fragment="linhaFilial">
    <div class="col-12">
        <h6>Filial: <span class="nomeFilial" th:text="${hotel.nome}" th:attr="data-id=${hotel.id}"></span></h6>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <div class="form-floating">
                <input type="number" class="form-control inputQuantidadeAlocada"  aria-describedby="basic-addon3 basic-addon4">
                <label>Determine a quantidade do produto destinada para esta filial</label>
                <div class="col-1">
                    <button type="button" class="btn btn-danger mt-2 btnRemoverFilial"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Remover esta filial">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>