<div class="row">
    <div class="col-12">
        <h6>Filial: <span id="nomeFilial"></span></h6>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="quantidadeAlocada" aria-describedby="basic-addon3 basic-addon4">
                <label for="quantidadeAlocada">Determine a quantidade do produto destinada para esta filial</label>
            </div>
        </div>
    </div>
    <div class="col-1">
        <button id="btnAddFilial" type="button" class="btn btn-danger mt-4"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="Remover esta filial">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>